.wx-willow-theme{
  height: 100%;
}
.wx-willow-theme .wx-task.pet {
  background-color: rgba(22, 154, 241, 0.77);
  --wx-gantt-task-fill-color: rgba(11, 95, 192, 0.77);
}

.wx-willow-theme .wx-task.pef {
  background-color: rgba(63, 206, 106, 0.77);
  --wx-gantt-task-fill-color: rgba(15, 148, 55, 0.77);
}

.wx-willow-theme .wx-task.emb {
  background-color: rgba(255, 191, 54, 0.897);
  --wx-gantt-task-fill-color: rgba(255, 166, 0, 0.897);

}
